.void-input-layer .void-input-label {
  font-size: 14px;
  margin: 4px 5px;
  color: #303030;
}
.void-input-core {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1.5px solid #dadada;
  border-radius: 5px;
  padding: 0px 10px;
  height: 44px;
  transition: all ease-in-out 0.4s;
}
.void-input-core:hover {
  box-shadow: 0px 0px 8px 1px #eeeeee;
}
.void-input-core:active,
.void-input-core:focus {
  box-shadow: 0px 0px 10px 1px #eeeeee;
}
.void-input-core input.void-input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.void-input-core .void-input-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.void-input-core .void-input-icon svg {
  font-size: 10px;
  color: gray;
  height: 16px;
  cursor: pointer;
}

.void-input-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
}
.void-input-select p {
  margin: 0;
}
.void-input-select p.void-input-select-value {
  font-size: 14px;
  color: black;
}
.void-input-select p.void-input-select-placeholder {
  font-size: 14px;
  color: rgb(100, 100, 100);
}
.void-input-select svg {
  transition: all ease-in-out 0.3s;
}

.void-options {
  background-color: white;
  max-height: 160px;
  overflow-y: auto;
  margin: 0 10px;
  border-radius: 10px;
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 44px;
}
.void-options-opened {
  animation: openOptions 0.3s forwards;
  box-shadow: 1px 10px 25px 5px rgb(222, 222, 222);
}
.void-input-select-opened svg {
  transform: rotate(0deg);
}
.void-input-select-closed svg {
  transform: rotate(-90deg);
}
.void-options-closed {
  animation: closeOptions 0.3s forwards;
}
.void-options::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.void-options::-webkit-scrollbar-track {
  background: rgb(235, 235, 235);
}

/* Handle */
.void-options::-webkit-scrollbar-thumb {
  background: rgb(215, 215, 215);
  border-radius: 10px;
}
.void-options .void-option {
  padding: 6px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: all ease-in-out 0.3s;
}
.void-option:hover {
  background-color: rgb(240, 240, 240);
}
.void-option-selected {
  background-color: rgb(235, 235, 235);
}

@keyframes openOptions {
  0% {
    height: 0px;
  }
  100% {
    height: 160px;
  }
}
@keyframes closeOptions {
  0% {
    height: 160px;
  }
  100% {
    height: 0px;
  }
}
/* END: Input */
