.void-snackbar-box {
  position: absolute;
  top: 10px;
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.void-snackbar {
  min-width: 200px;
  box-sizing: border-box;
  width: fit-content;
  border-radius: 4px;
  min-height: 30px;
  height: fit-content;
  padding: 10px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideIn 0.5s forwards;
  border: 0px solid transparent;
  box-shadow: 5px 5px 20px 7px whitesmoke;
  margin-top: 10px;
}
.void-snackbar-exit {
  animation: slideOut 0.5s forwards;
}
.void-snackbar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  margin: 0 10px;
  padding: 2px;
  border-radius: 30px;
  color: white;
}
.void-snackbar-icon svg {
  font-weight: 900;
  height: 24px;
  width: 24px;
  stroke-width: 3px;
}
.void-snackbar-text {
  width: 100%;
  font-size: 13px;
  margin: 0 10px;
  overflow-wrap: break-word;
}
.void-snackbar-success {
  background-color: var(--successColorLight);
  border-color: var(--successColor);
}
.void-snackbar-success .void-snackbar-icon {
  background-color: var(--successColor);
}
.void-snackbar-warning {
  background-color: var(--warningColorLight);
  border-color: var(--warningColor);
}
.void-snackbar-warning .void-snackbar-icon {
  background-color: var(--warningColor);
}
.void-snackbar-error {
  background-color: var(--errorColorLight);
  border-color: var(--errorColor);
}
.void-snackbar-error .void-snackbar-icon {
  background-color: var(--errorColor);
}

@keyframes slideIn {
  0% {
    margin-top: -50px;
  }
  100% {
    margin-top: 10px;
  }
}

@keyframes slideOut {
  0% {
    margin-top: 10px;
    box-shadow: none;
  }
  100% {
    margin-top: -50px;
  }
}
